{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container-fluid">
    <div class="row">
        <!-- Welcome message -->
        <div class="col-12 mt-3 text-center">
            <h1>Welcome to All Cooped Up!</h1>
            <p>This site is for reviews of co-operatively played games, or co-ops for short.</p>
            <p>Please feel free to <a href="{% url 'account_signup' %}" class="fw-bold text-decoration-underline welcome-link">register</a> so that you can <a href="{% url 'account_login' %}" class="fw-bold text-decoration-underline welcome-link">log in</a> and <a href="{% url 'submit_review' %}" class="fw-bold text-decoration-underline welcome-link">submit</a> your own reviews to contribute to the community.</p>
        </div>
        
        <!-- Search function -->
        <div class="col-12 mt-3 text-center">
            <form class="row justify-content-center" method="GET" action="{% url 'home' %}">
                <div class="col-md-4 col-sm-8 col-10 mb-2">
                    <input class="form-control" type="search" name="query" placeholder="Search" aria-label="Search" value="{{ query }}">
                </div>
                <div class="col-auto mb-2">
                    <button class="btn btn-signup" type="submit">Search</button>
                </div>
            </form>
            
            {% if query %}
                <h2 class="mt-4">Search results for "{{ query }}"</h2>
                {% if not review_list %}
                    <p class="alert alert-warning text-center">
                        No games matching your search were found. Feel free to 
                        <a href="{% url 'submit_review' %}" class="alert-link">submit your own review</a>!
                    </p>
                {% endif %}
            {% endif %}
        </div>

        <!-- Game Filters -->
        <div class="col-12 mt-3 text-center">
            <form class="row justify-content-center" method="GET" action="{% url 'home' %}">
                <div class="col-md-3 col-sm-6 col-10 mb-2">
                    <select class="form-control" name="platform" aria-label="Filter by platform">
                        <option value="">All Platforms</option>
                        {% for value, label in form.platform.field.choices %}
                            <option value="{{ value }}" {% if form.platform.value == value %}selected{% endif %}>{{ label }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-3 col-sm-6 col-10 mb-2">
                    <select class="form-control" name="pegi_rating" aria-label="Filter by PEGI rating">
                        <option value="">All PEGI Ratings</option>
                        {% for value, label in form.pegi_rating.field.choices %}
                            <option value="{{ value }}" {% if form.pegi_rating.value == value %}selected{% endif %}>{{ label }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="w-100"></div> <!-- Included to force a new row -->
                <div class="col-md-3 col-sm-6 col-10 mb-2">
                    <div class="form-check d-flex align-items-center">
                        <input class="form-check-input" type="checkbox" name="co_op_mode_couch" id="co_op_mode_couch" {% if form.co_op_mode_couch.value %}checked{% endif %}>
                        <label class="form-check-label" for="co_op_mode_couch">Co-op Mode Couch</label>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-10 mb-2">
                    <div class="form-check d-flex align-items-center">
                        <input class="form-check-input" type="checkbox" name="co_op_mode_online" id="co_op_mode_online" {% if form.co_op_mode_online.value %}checked{% endif %}>
                        <label class="form-check-label" for="co_op_mode_online">Co-op Mode Online</label>
                    </div>
                </div>
                <div class="w-100"></div> <!-- Included to force a new row -->
                <div class="col-auto mb-2">
                    <button class="btn btn-signup" type="submit">Filter</button>
                </div>
                <div class="col-auto mb-2">
                    <a href="{% url 'home' %}" class="btn btn-delete">Clear Filters</a>
                </div>
            </form>
        </div>

        <!-- Review Cards Section -->
        <div class="col-12 mt-3 left">
            <div class="row">
                {% for review in review_list %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="image-container">
                                <a href="{% url 'review_detail' review.slug %}">
                                    {% if "missingboxart" in review.featured_image.url %}
                                    <img class="card-img-top" src="{% static 'images/missingboxart.png' %}"
                                        alt="image presented in place of missing game box art">
                                    {% else %}
                                    <img class="card-img-top" src="{{ review.featured_image.url }}"
                                        alt="{{ review.game_title }} box art">
                                    {% endif %}
                                </a>
                                <div class="image-flash">
                                    <p class="author">Author: {{ review.author }}</p>
                                </div>
                            </div>
                            <a href="{% url 'review_detail' review.slug %}" class="review-link">
                                <h2 class="mt-2 card-title">{{ review.game_title }}</h2>
                            </a>
                            <hr />
                            <article class="card-text mb-2">{{ review.index_excerpt}}</article>
                            <!-- Add icons/text for aspects in a 2x2 grid -->
                            <div class="row">
                                <div class="col-6">
                                    <p>Star Rating: {{ review.get_star_rating_display }}</p>
                                </div>
                                <div class="col-6">
                                    <p>Co-op Mode: 
                                        {% if review.co_op_mode_couch %}
                                            <i class="fa-solid fa-couch"></i>
                                        {% endif %}
                                        {% if review.co_op_mode_online %}
                                            <i class="fa-solid fa-globe"></i>
                                        {% endif %}
                                    </p>
                                </div>
                                <div class="col-6">
                                    <p>PEGI Rating: <span class="pegi-rating">{{ review.get_pegi_rating_display }}</span></p>
                                </div>
                                <div class="col-6">
                                    <p>Platforms: 
                                        {% if review.platform_availability_xbox %}
                                            <i class="fa-brands fa-xbox"></i>
                                        {% endif %}
                                        {% if review.platform_availability_playstation %}
                                            <i class="fa-brands fa-playstation"></i>
                                        {% endif %}
                                        {% if review.platform_availability_nintendo %}
                                            <i class="fa-solid fa-n"></i>
                                        {% endif %}
                                        {% if review.platform_availability_pc %}
                                            <i class="fa-solid fa-desktop"></i>
                                        {% endif %}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}

            </div>
        </div>
    </div>
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li>
                <a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV</a>
            </li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>

{% endblock %}