{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-12 col-md-8">
      <h2>{% if form.instance.pk %}Edit Review{% else %}Submit a Review{% endif %}</h2>
      <form method="post" enctype="multipart/form-data"> <!-- Add enctype="multipart/form-data" -->
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="mb-4 btn btn-primary">{% if form.instance.pk %}Update{% else %}Submit{% endif %}</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}