{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-12 col-md-8">
      <h2>{% if form.instance.pk %}Edit Review{% else %}Submit a Review{% endif %}</h2>
      <form method="post" enctype="multipart/form-data"> <!-- enctype="multipart/form-data" specifies how form data should be encoded and is required for file uploads-->
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="mb-4 btn btn-signup">{% if form.instance.pk %}Update{% else %}Submit{% endif %}</button>
      </form>
    </div>
  </div>
</div>
<div class="row justify-content-center">
  <div id="image-copyright-message" class="col-12 col-md-6">
    <h3><i>A note to users about image copyright</i></h3>
    <p>Please ensure that box at images are sourced from <a href="https://www.wikipedia.org/" target="_blank">Wikipedia</a> (whose approach to copyright can be found via an example <a href="https://en.wikipedia.org/wiki/File:Minecraft_2024_cover_art.png" target="_blank">here</a>) or another source of copyright free images</p>
    <p>The site owners are not liable for any image copyright infringements for images uploaded by users.</p>
    <p>Many thanks!</p>
  </div>
</div>
{% endblock %}