/* Google Fonts Import */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap');

/* Light CSS Variables */
:root {
    --primary-font: "Ubuntu Sans", serif;
    --secondary-font: "Lato", sans-serif;
    --background-color: #2B2D42; /*dark blue - Space cadet*/
    --primary-color: #FFFFFF; /* white used for text on darker colours*/
    --secondary-color: #2C7DA5; /* bright blue - Blue(NCS)*/
    --tertiary-color: #847089; /* dark blush - Mountbatten pink*/
    --highlight-color: #D81E5B; /* Bright Pink - Raspberry*/
    --highlight-color-light: #F093B2; /* Light Pink - Amaranth pink*/ 
}

* {
    color: var(--primary-color);
    font-family: var(--primary-font);
}

body {
    background-color: var(--background-color);
}

.thin {
    font-weight: 300;
}

.light-bg {
    background-color: #fff;
}

.dark-bg {
    background-color: var(--tertiary-color);
}
.main-bg {
    background-color: var(--background-color);
}

.card {
    border: none;
    background-color: transparent;
}

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: var(--secondary-color);
}

.scale {
    width: 100%;
    height: auto;
}

.author {
    color: white;
    margin: 4px;
    /* text-transform: uppercase; */
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    background-color: var(--secondary-color);
    color: white;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: var(--secondary-color);
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}

.review-link {
    text-decoration: none;
    color: #445261;
}

.review-link:hover,
.review-link {
    color: #C73200;
}

.review-title {
    margin-top: 10%;
    margin-left: 5%;
}

.review-subtitle {
    margin-left: 5%;
    color: var(--primary-color);
    font-style: italic;
}

.review-by {
    margin-left: 5%;
    color: var(--primary-color);
}

.btn-signup,
.btn-edit {
    background-color: #188181;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #23BBBB;
}

.page-link {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.link {
    color: #23BBBB;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}

.btn-like {
    color: #C73200;
    border: none;
    background: transparent;
}

.btn-delete {
    color: #fff;
    background: #C73200;
}

.btn-like:hover,
.btn-like:active {
    color: #C73200;
    background: transparent;
    border: none;
}

.faded {
    color: rgb(172, 175, 175);
}

.approval {
    color: var(--highlight-color-light);
}

/* Added below and marked as important to overwrite inline styling being forced by Summernote */
.about-content p {
    color: var(--primary-color) !important;
    background-color: var(--background-color) !important;
    font-family: var(--primary-font) !important;
}

.about-content h3 {
    color: var(--primary-color) !important;
    background-color: var(--background-color) !important;
    font-family: var(--primary-font) !important;
}

.force-white {
    color: var(--primary-color) !important;
}