{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container mt-5">
  <div class="row">
    <div class="col-12 col-md-4 text-center">
      {% if "placeholder" in about.profile_image.url %}
      <img src="{% static 'images/placeholder.png' %}" width="75%"
        alt="placeholder for missing profile image" >
      {% else %}
      <img src="{{ about.profile_image.url }}" width="75%"
        alt="{{ about.title }}">
      {% endif %}
    </div>
    <div class="col-12 col-md-8">
      <!-- Title goes between these h2 tags -->
      <h2>{{ about.title }}</h2>
      <div class="about-content">
      <!-- Content goes directly underneath this -->
      {{ about.content | safe }}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col text-right">
      <!-- Updated on field goes in here -->

      <p class="text-end"><em>Updated on: {{ about.updated_on }}</em></p>
    </div>
  </div>
  <div class="row justify-content-center">
    <div id="collaborate-form" class="col-12 col-md-6 my-5">
      <h2>Let's collaborate!</h2>
      <p>If you've enjoyed this site, like my journey/story and would like
        to work together on a project, please fill in the form below!</p>

        <form method="post">
          {{ collaborate_form | crispy }}
          {% csrf_token %}
          <button class="btn btn-signup"
            type="submit">Submit</button>
        </form>
    </div>
  </div>
</div>
<div class="row justify-content-center">
  <div id="copyright-message" class="col-12 col-md-6 my-5">
    <h3><i>A note about copyright</i></h3>
    <p>All images preloaded onto this site have been sourced from <a href="https://www.wikipedia.org/" target="_blank">Wikipedia</a> whose approach to copyright can be found via an example <a href="https://en.wikipedia.org/wiki/File:Minecraft_2024_cover_art.png" target="_blank">here.</a></p>
    <p>The site owners are not liable for any image copyright infringements for images uploaded by users subsequently.</p>
    <p>Users are requested to ensure that all images uploaded are free of copyright infrigements prior to uploading to the site.</p>
  </div>
</div>
{% endblock content %}